# Week 4 Daily Exercises

## Exercise 1
Build a Pandas DataFrame by specifying a Python dictionary containing three columns with at least 5 elements. One column should be strings, and two columns should be numerical.

In [2]:
import pandas as pd

In [8]:
dic = {"char": ["Frodo", "Gandalf", "Sam", "Aragorn", "Pippin"], "strength" : [5, 10, 4, 9, 3], "like" : [8, 10, 7, 6.5, 5.5]}
df = pd.DataFrame(dic)
display(df)

      char  strength  like
0    Frodo         5   8.0
1  Gandalf        10  10.0
2      Sam         4   7.0
3  Aragorn         9   6.5
4   Pippin         3   5.5

## Exercise 2
Read the Excel file named exercise4_2_data.xlsx into a pandas dataframe. Subset the data to only keep rows whose position (index) is evenly divisible by 9. Write a file called summary4_2.csv that contains these resulting values.

In [21]:
df = pd.read_excel("exercise4_2_data.xlsx", skiprows = lambda x: x % 9 > 0)
df.to_csv("summary4_2.csv")

## Exercise 3
Read the JSON file named exercise4_3_data.json into a Pandas dataframe. Change the row labels to the column true_row_names (this should remove this column from the dataframe). Reorder the columns to be in decreasing order (from column_5 to column_1). Write the results to an Excel file named reordered4_3.xlsx.

In [3]:
df = pd.read_json("exercise4_3_data.json")
df.set_index("true_row_names", inplace = True)
df = df.reindex(columns = ["column_5", "column_4", "column_3", "column_2"])
df

                    column_5  column_4  column_3  column_2
true_row_names
observation_1            -12        26        57        -2
observation_2             68        85         3         9
observation_3             70        93        99        61
observation_4             -4        22        35        40
observation_5            -23        59       -77         0
...                      ...       ...       ...       ...
observation_99996         76       -66       -64       -62
observation_99997         61        12        88       -61
observation_99998         -6       -96        80        -4
observation_99999          4        83        82        76
observation_100000       -98       -39        -4        30

[100000 rows x 4 columns]

# Sample Exam Question

In [26]:
def recode_split_and_sample(file, name1, name2, num_test_trials):
    df = pd.read_csv(file)
    df = df.loc[:, name1 : name2]
    test = df[:num_test_trials]
    test.to_csv("test_data.csv")
    train = df[num_test_trials: ]
    train.to_csv("train_data.csv")
    sample = train.sample(90000, replace = True)
    sample.to_csv("sampled_train_data.csv")
    return

recode_split_and_sample("sample_pandas_data.csv", "B", "E", 10)

In [27]:
def recode_split_and_sample(file, name1, name2, num_test_trials):
    df = pd.read_csv(file)
    df = df.loc[:, name1 : name2]
    df[:num_test_trials].to_csv("test_data2.csv")
    train = df[num_test_trials: ]
    train.to_csv("train_data2.csv")
    train.sample(90000, replace = True).to_csv("sampled_train_data2.csv")
    return

recode_split_and_sample("sample_pandas_data.csv", "B", "E", 10)